.CartModal-totalCost {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  font-size: 18px;
  padding: 20px 110px 90px 0;
  gap: 4px;
}

.CartModal-totalCost > span {
  display: inline-block;
  text-align: end;
  min-width: 93px;
}