.CommentsItem {
  padding-left: 30px;
}

.CommentsItem-nest{
  margin-bottom: 30px;
}

.CommentsItem-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CommentsItem-userName {
  font-size: 12px;
}
.CommentsItem-userName_auth {
  color: #666;
}

.CommentsItem-date {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.CommentsItem-text {
  margin: 10px 0;
  font-size: 14px;
  overflow-wrap: break-word;
}

.CommentsItem-btn {
  background-color: transparent;
  border: 0;
  color: #0087E9;
  font: 12px;
  padding: 0;
}

.CommentsItem-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}